.cheney-result {
  border-radius: 5px;
  border-style: dashed;
  border-width: 2px;
  cursor: pointer !important;
  img {
    padding: 3px;
  }
}

.cheney-result.severe, .cheney-link.severe img, .cheney-result._severe {
  border-color: #994141;
}

.cheney-result.moderate, .cheney-link.moderate img, .cheney-result._moderate {
  border-color: #2e71a0;
}

.cheney-result.suggestion, .cheney-link.suggestion img, .cheney-result._suggestion {
  border-color: #36af60;
}


.cheney-icon img, .cheney-icon-current {
  width: 23px;
  height: 23px;
  margin-right: -23px;
  display: inline-block;
  z-index: 1000;
  position: absolute;
}

.cheney-icon-current {
  margin-right: auto;
  margin-left: -23px;
}

#cheney-console {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 190px;
  width: 100%;
  background: white;
  box-shadow: inset 0px 4px 8px 0px rgba(99, 99, 99, .2);
  border-top: 1px inset #737C70;
  padding: 15px 10px;
  z-index: 1001;
  
  .close-console {
    position: absolute;
    right: 40px;
    top: 0px;
    color: #595959;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-size: 2em;
  }

  .cheney-console-content {
    overflow: scroll;
  }
}
